.headerP {
    background-color: #43DDFF;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerM {
    background-color: #DC0000;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerH {
    background-color: #FF5912;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerG {
    background-color: #00B548;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerB {
    background-color: #5BCF00;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerL {
    background-color: #FFCE22;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerS {
    background-color: #FF6AD5;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerFil {
    background-color: #2663FF;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerFis {
    background-color: #39FFAC;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.headerQ {
    background-color: #9664FF;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;  
    width: 100%;
    z-index: index 1;;
    float:left;
}

.logo{
    height: 45px;
    float: left;
    margin: 0px 30px 10px 20px;
}

.title{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;

}

.menu{
    position: absolute;
    float: right;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu img{
    height: 45px;
}

.subject{
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 150px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-style: ridge;
  border-color: black;
  padding: 3px 0px 3px 0px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.38, 0.55, 0.27, 0.55);
}

.card:hover{
    transform: translateY(-10px);
}

.card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card a{
    text-decoration: none;
    color: black;
}

.card a:visited{
    color: black;
}

.video{
    display: flex;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
}

.ref{
    display: flex;
    justify-content: center;
}

.ref p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.bodyText{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 50px;
    margin-right: 50px;
    float: left;
}

.bodyText p{
    text-align: justify;
}

.bodyText img{
    height: 50%;
    width: 50%;
    border-style: ridge;
    border-color: black;
}

.emailSection{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 10px 50px 20px 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-style: groove;
    border-color: black;
    background-color: lightgray;
}

.emailSection input{
    font-size: medium;
}

/*Ajuste de responsividade na tela*/
@media screen and (max-width: 600px) {

    .subject {
        width: 75%;
        display: block;
        margin-bottom: 20px;
        float: none;
        margin-left: auto;
        margin-right: auto; 
    }

    .title{
        font-size: 32px;
    }

    .logo{
        height: 40px;
        margin: 0px 10px 10px 10px;
    }

    .menu{
        right: 5px;
    }

    .menu img{
        height: 35px;
    }

    .video{
        width: 100%;
    }
  }