.header{
    background-color: #C5192D;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: index 1;;
    float:left;
}

.logo{
    height: 45px;
    float: left;
    margin: 0px 30px 10px 20px;
}

.title{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;

}

.menu{
    position: absolute;
    float: right;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.closeMenu{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sidebar{
    background-color: #970012;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top:0;
    right:0;
    width: 0;
    height: 100%;
    z-index: index 1;
    float:right;
    overflow-x: hidden;
    transition: 0.55s;
}

.sidebar ul{
    margin-top: 90px;
    margin-left: 5px;
    padding: 0px;
    list-style: none;
}

.sidebar li{
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
    border-style: ridge;
    border-color: white;
    border-left: 5px;
    border-right: none;
    border-bottom: none;
    position: relative;
}

.sidebar li:hover{
    top:-2px;
    text-decoration: underline;
}

.sidebar a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

.column{
    float: left;
    width: 18%;
    padding: 10px 10px;
}

.row{
    margin: 150px -5px 0 0;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px 0px 3px 0px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.38, 0.55, 0.27, 0.55);
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    margin-bottom: 3px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card a{
    text-decoration: none;
    color: black;
}

.card a:visited{
    color: black;
}

.bodyText{
    font-family: Arial, Helvetica, sans-serif;
    padding: 140px 50px;
    margin-right: 50px;
    float: left;
}

.bodyText p{
    text-align: justify;
}

.bodyText img{
    height: 50%;
    width: 50%;
    border-style: ridge;
    border-color: black;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 75%;
    display: block;
    margin-bottom: 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .card:hover{
    transform: none;
  }

  .bodyText img{
    height: 100%;
    width: 100%;
  }

  .title{
    font-size: 32px;
}

.logo{
    height: 40px;
    margin: 0px 10px 10px 10px;
}

.menu{
    right: 5px;
}

.menu img{
    height: 35px;
}
}